:root {
    --dukeblue: #012169; 
    --shaleblue: #0577B1;
    --limestone: #E5E5E5;
    --piedmont: #A1B70D;
    --persimmon: #E89923;
}

html, body {
    height: 100%;
}

.sidebar {
    height: 95%;
    width: 208px;
    position: fixed;
    border-radius: 16px;  
}

.sidebar-sticky {    
    padding-top: 16px;
    padding-bottom: 16px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    flex-grow: 1;
    padding-bottom: 20px;
}

.nav-link {
    color: var(--limestone);
    padding-left: 24px;
}

.nav-item {
    text-align: left;
    border-radius: 8px;
    /* margin: 2px 0; */
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: var(--limestone);
    border-radius: 8px;
    transition: background-color 0.3s;
} 

.nav-item .active {
    color: var(--limestone);
    border-radius: 8px;
    margin: 8px;
    background-image: linear-gradient(to top right, #0577B1, #0672A9);
}

.logo-image {
    width: 128px;
    height: auto;
    display: block;
    margin: 8px auto;
    margin-top: 20px;
    padding: 16px 0;
}
