:root {
    --dukeblue: #012169; 
    --shaleblue: #0577B1;
    --limestone: #E5E5E5;
    --piedmont: #A1B70D;
    --persimmon: #E89923;
}

html, body {
    height: 100%;
}

.sidebar {
    margin-top: 0px;
    padding-left: 10px;
    height: 100%;
    position: fixed;
}

.sidebar-sticky {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    flex-grow: 1;
    padding-bottom: 20px;
}

/* Rest of the CSS styles */
.nav-link {
    color: white;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: var(--limestone);
    color: var(--dukeblue);
    border-radius: 10px;
}

.active {
    background-color: var(--shaleblue);
    color: white;
    border-radius: 10px;
}

.logo-image {
    width: 150px;
    height: auto;
    display: block;
    margin: 10px auto;
    margin-top: 20px;
}
