/* create a box for the profile section */
#profile {
    background-color: var(--dukeblue);
    border: none;
    outline: none;
    font-weight: 300;
    position: absolute;
    bottom: 16px;
    width: auto;
    box-shadow: 0 -4px 4px -4px rgba(255, 255, 255, 1);
    padding: 16px;
    margin-left: 8px;
    font-size: 12px;
}

/* format first line, the welcome [name] */
#profile p:first-of-type {
    font-size: 14px;
    margin-bottom: 8px;
}

/* format the text for the profile box */
#profile p {
    color: white;
    margin: 0;
    padding: 0;
}