#accordianRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    font-size: small;
    margin-right: 5%;
}

#name {
    margin-bottom: 0px;
}

#type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#type p {
    margin-top: 2px;
    margin-bottom: 2px;
    width: auto;
}

#cyc {
    font-weight: 600;
}

.accordion-header p {
    width: 50%;
}

.accordion-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EEF3FC;
    position: relative;
    height: 100%;
    min-height: fit-content;
    border-radius: 0 0 6px 6px;
    /* overflow: auto; */
}

#bodyRight {
    width: 50%;
}

#bodyRight p {
    width: 100%;
    height: 21px;
    padding-left: 3px;
    background-color: red;
    border-radius: 3px;
    color: white;
}

#meta {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

#metaHead {
    margin-bottom: 0px;
}

#tab {
    margin: 0 0 0 18px;
}

#editForm {
    margin-top: 10px;
    min-height: 100%;
}

#editForm input {
    margin: 2px 4px 2px 0;
    border-radius: 4px;
    padding: 4px;
    border: solid gray 1px;
}

#edits {
    display: flex;
    flex-direction: column;
    align-items: end;
    min-height: 100%;
}

#viewVulns {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 8px;
}