#accordianRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    font-size: small;
    margin-right: 5%;
}

#name {
    margin-bottom: 0px;
}

.accordion-item {
    width: 100%;
}

.accordion-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    /* width: auto; */
    align-items: center;
}

#type p {
    margin-top: 2px;
    margin-bottom: 2px;
    width: auto;
}

#cyc {
    font-weight: 600;
    margin-top: -10px;
}

.accordion-header p {
    width: 50%;
}

.accordion-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EEF3FC;
    position: relative;
    height: 100%;
    min-height: fit-content;
    border-radius: 0 0 6px 6px;
    /* overflow: auto; */
}

#bodyRight {
    width: 50%;
}

#bodyRight p {
    width: 100%;
    height: 21px;
    padding-left: 3px;
    background-color: red;
    border-radius: 3px;
    color: white;
}

#meta {
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    font-size: 13px;
}

#metaHead {
    margin-bottom: 0px;
}

#tab {
    margin-top: 0;
    margin-left: 18px;
    margin-bottom: 0px;
}

.accordion-button {
    display: flex;
    align-items: center;
    /* background-color: yellow; */
}

#editForm {
    margin-top: 10px;
    /* margin-left: 10%; */
    min-height: 100%;
}

#editForm input {
    margin-top: 2px;
    margin-bottom: 2px;
}

#editForm button {
    margin-top: 2px;
}

#editButton {
    max-width: fit-content;

}

#edits {
    display: flex;
    flex-direction: column;
    align-items: end;
    min-height: 100%;
}

#viewVulns {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 8px;
}