#accordianRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 44%;
    /* height: 20px; */
    font-size: small;
    margin-top: 9px;
    margin-bottom: 0px;
    margin-right: 6%;
}

#accordianRight p {
    width: auto;
}

#name {
    margin-bottom: 0px;
}

.accordion-item {
    width: 100%;
    align-items: center;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}
.accordion-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    /* width: auto; */
    align-items: center;
}
#type p {
    margin-top: 2px;
    margin-bottom: 2px;
    width: auto;
}
#cyc {
    font-weight: 600;
    margin-top: -10px;
}
.accordion-header p{
    width: 50%;
}

.accordion-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EEF3FC;
}

#bodyRight {
    width:50%;
    height: 21px;
    padding-left: 3px;
    background-color: red;
    border-radius: 3px;
    color: white;
}

#meta {
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    font-size: 13px;
}

#metaHead {
    margin-bottom: 0px;
}
#tab {
    margin-top: 0;
    margin-left: 18px;
    margin-bottom: 0px;
}

.accordion-button {
    display: flex;
    align-items: center;
    /* background-color: yellow; */
}