<div id="<%= dom_id reference %>">
  <p>
    <strong>Name:</strong>
    <%= reference.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= reference.age %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reference.description %>
  </p>

</div>
