<div id="<%= dom_id reference %>">
  <p>
    <strong>Name:</strong>
    <%= reference.name %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= reference.details %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= reference.age %>
  </p>

</div>
