@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap');

:root {
  --dukeblue: #012169;
  --shaleblue: #0577B1;
  --limestone: #E5E5E5;
  --piedmont: #A1B70D;
  --persimmon: #E89923;
}

/* big reset */
* {
  padding: 0;
  margin: 20;
  box-sizing: border-box;
  font-family: Roboto, 'Merriweather', Georgia, 'Open Sans', sans-serif;
}

/* navbar color */
/* move to navnbar component? */
.bg-navblue {
  background-color: var(--dukeblue);
}

.main-content {
  display: flex;
  flex-direction: row;
}

.login-button {
  background-color: #0577B1;
  color: white;
}

.pages {
  width: calc(100vw - 240px);
  padding-top: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}