/* @import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Poppins:wght@400;600;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap');

:root {
  --dukeblue: #012169; 
  --shaleblue: #0577B1;
  --limestone: #E5E5E5;
  --piedmont: #A1B70D;
  --persimmon: #E89923;
}

/* big reset */
* {
  padding: 0;
  margin: 20;
  box-sizing: border-box;
  font-family: Roboto, 'Merriweather', Georgia, 'Open Sans', sans-serif;
}



.mysidenav {
  background-color: var(--shaleblue) !important; 
  font-family: Roboto, 'Open Sans', sans-serif;
}

/* Where is .page being used?  */
/* .page {
  font: 5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif ;
  
} */

.intro-section {
  background-color: var(--limestone);
  padding: 20px;
}

.what-sboms-section {
  background-color: var(--limestone);
  padding: 20px;
}

.generatesboms-1{
  background-color: var(--limestone);
  padding: 20px;
}

/* navbar color */
.bg-navblue {
  background-color: var(--dukeblue);
}

.main-content {
  margin-left: 250px; /* adjust as needed */
}

.login-button {
  background-color: #0577B1; /* your preferred color */
  color: white; /* your preferred text color */
  /* other styles as needed */
  margin-left: 560px;
}
