:root {
    --dukeblue: #012169; 
    --shaleblue: #0577B1;
    --limestone: #E5E5E5;
    --piedmont: #A1B70D;
    --persimmon: #E89923;
}

html, body {
    height: 100%;
}

.section {
    padding: 16px;
    border-radius: 8px;
    margin: 0px 40px 16px 40px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    /* transform: translate(40px, 0px); */
    width: 95%;
    max-width: 75vw;
    display: block;
    min-height: fit-content;
    max-height: none;
    background-color: white;
}

.section div {
    position: relative;
}

.h2 {
    color: var(--dukeblue);
    font-weight: 500;
}

.sublist {
    list-style-type: none;
    padding: 0px 4px 0px 20px;
}
  
.sublist li:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 5px;
    vertical-align: middle;  
}

.step {
    padding: 4px 4px 4px 8px;
}

.button {
    background-color: var(--piedmont);
    color: black;
    margin: 8px 0px 16px 0px;
    padding: 12px 8px 8px 8px;
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    border: none;
    outline: none;  
    font-size: 16px;
    font-weight: bolder;
}
  
