/* AnotherPage.module.css */

.section {
    padding: 20px;
    border-radius: 10px;
    margin:35px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    transform: translate(79px, 0px);
    width: 1000px;
    background-color: rgb(243,242,241);
}

.section div {
    position: relative;
}
