:root {
    --dukeblue: #012169; 
    --shaleblue: #0577B1;
    --limestone: #E5E5E5;
    --piedmont: #A1B70D;
    --persimmon: #E89923;
}

html, body {
    height: 100%;
}

.section {
    padding: 16px;
    border-radius: 16px;
    margin: 40px 40px 40px 0;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    transform: translate(24px, 0px);
    width: 100%;
    background-color: var(--limestone);
}

.section div {
    position: relative;
}

