:root {
    --dukeblue: #012169; 
    --shaleblue: #0577B1;
    --limestone: #E5E5E5;
    --piedmont: #A1B70D;
    --persimmon: #E89923;      
}

/* html, body {
    background-color: var(--piedmont);
} */

#background {
    color: var(--dukeblue) !important;
}
  
.text {
    margin: auto;
    background-color: #EEF3FC;
    text-align: center;
    padding: 120px 40px;
    border-radius: 16px;
    position: absolute;
    transform: translate(31%, -50%);   
    top: 50%;
}

.text a {
    color: var(--shaleblue);
    font-size: 24px;
    font-weight: bold;
}