.section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.profileContainer {
    margin: 0 auto;
    max-width: 500px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profileSection {
    display: flex;
}

.leftSection {
    flex: 1;
}

.rightSection {
    flex: 1;
}

.toggleContainer {
    margin-top: 10px;
}

.toggleContainer label {
    display: block;
    margin-bottom: 5px;
}

.toggleContainer input {
    margin-left: 5px;
}