.sectionProf {
    padding: 16px;
    border-radius: 10px;
    margin: 0px 40px 32px 40px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    /* transform: translate(40px, 0px); */
    width: 95%;
    max-width: 75vw;
    display: block;
    min-height: fit-content;
    padding: 30px;
    max-height: none;
    background-color: white;
}

.profileContainer {
    margin: 0 auto;
    max-width: 500px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profileSection {
    display: flex;
    margin-top: 15px;
}

.leftSection {
    flex: 1;
}

.rightSection {
    flex: 1;
}

.toggleContainer {
    margin-top: 10px;
}

.toggleContainer label {
    display: block;
    margin-bottom: 5px;
}

.toggleContainer input {
    margin-left: 5px;
}
