.list {
    padding: 0;
    padding-top: 20px;
    border-radius: 10px;
    margin:35px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    transform: translate(79px, 0px);
    width: auto;
    max-width: 75vw;
    background-color: white;
}

.list div {
    position: relative;
}

.downloadSection {
    /* Add your CSS properties here */
    margin: -20px;
}
  
.error {
    color: red;
    font-size: 16px;
}
  

/* things from profile.css */

/* .section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
} */

.profileContainer {
    margin: 0 auto;
    max-width: 500px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profileSection {
    display: flex;
}

.leftSection {
    flex: 1;
}

.rightSection {
    flex: 1;
}

.toggleContainer {
    margin-top: 10px;
}

.toggleContainer label {
    display: block;
    margin-bottom: 5px;
}

.toggleContainer input {
    margin-left: 5px;
}